<section id="catalog" class="catalog">
  <div class="container">
    <h2 class="catalog-title">Catalog</h2>
    <ul class="container-catalog">
      <li class="catalog-item">
        <div class="img-con">
          <picture>
            <source
              srcset="
                ./img/webp/fenix-7x-pro-desktop-1x.png 1x,
                ./img/webp/fenix-7x-pro-desktop-2x.png 2x
              "
              media="(min-width: 1200px)"
            />
            <source
              srcset="
                ./img/webp/fenix-7x-pro-tablet-1x.png 1x,
                ./img/webp/fenix-7x-pro-tablet-2x.png 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./img/webp/fenix-7x-pro-mobile-1x.png 1x,
                ./img/webp/fenix-7x-pro-mobile-2x.png 2x
              "
              media="(max-width: 767px)"
            />
            <img
              src="./img/webp/fenix-7x-pro-desktop-1x.png"
              alt="Garmin Fenix 7X Pro Sapphire Solar"
              width="292"
              height="292"
              class="image"
            />
          </picture>
        </div>
        <div class="catalog-content-text">
          <h3 class="content-text-ellipsis">
            Garmin Fenix 7X Pro Sapphire Solar
          </h3>
          <p class="content-text-price">€500</p>
        </div>
      </li>
      <li class="catalog-item">
        <div class="img-con">
          <picture>
            <source
              srcset="
                ./img/webp/marq-desktop-1x.png 1x,
                ./img/webp/marq-desktop-2x.png 2x
              "
              media="(min-width: 1200px)"
            />
            <source
              srcset="
                ./img/webp/marq-tablet-1x.png 1x,
                ./img/webp/marq-tablet-2x.png 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./img/webp/marq-mobile-1x.png 1x,
                ./img/webp/marq-mobile-2x.png 2x
              "
              media="(max-width: 767px)"
            />
            <img
              src="./img/webp/marq-desktop-1x.png"
              width="292"
              height="292"
              class="image"
              alt="Garmin Marq Athlete"
            />
          </picture>
        </div>
        <div class="catalog-content-text">
          <h3 class="content-text-ellipsis">Garmin Marq Athlete</h3>
          <p class="content-text-price">€450</p>
        </div>
      </li>
      <li class="catalog-item">
        <div class="img-con">
          <picture>
            <source
              srcset="
                ./img/webp/descent-desktop-1x.png 1x,
                ./img/webp/descent-desktop-2x.png 2x
              "
              media="(min-width: 1200px)"
            />
            <source
              srcset="
                ./img/webp/descent-tablet-1x.png 1x,
                ./img/webp/descent-tablet-2x.png 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./img/webp/descent-mobile-1x.png 1x,
                ./img/webp/descent-mobile-2x.png 2x
              "
              media="(max-width: 767px)"
            />
            <img
              src="./img/webp/descent-descktop-1x.png"
              alt="Garmin Descent MK1"
              width="292"
              height="292"
              class="image"
            />
          </picture>
        </div>
        <div class="catalog-content-text">
          <h3 class="content-text-ellipsis">Garmin Descent MK1</h3>
          <p class="content-text-price">€680</p>
        </div>
      </li>
      <li class="catalog-item">
        <div class="img-con">
          <picture>
            <source
              srcset="
                ./img/webp/d2-delta-desktop-1x.png 1x,
                ./img/webp/d2-delta-desktop-2x.png 2x
              "
              media="(min-width: 1200px)"
            />
            <source
              srcset="
                ./img/webp/d2-delta-tablet-1x.png 1x,
                ./img/webp/d2-delta-tablet-2x.png 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./img/webp/d2-delta-mobile-1x.png 1x,
                ./img/webp/d2-delta-mobile-2x.png 2x
              "
              media="(max-width: 767px)"
            />
            <img
              src="./img/webp/d2-delta-desktop-1x.png"
              alt="Garmin D2 Delta PX"
              width="292"
              height="292"
              class="image"
            />
          </picture>
        </div>
        <div class="catalog-content-text">
          <h3 class="content-text-ellipsis">Garmin D2 Delta PX</h3>
          <p class="content-text-price">€380</p>
        </div>
      </li>
      <li class="catalog-item catalog-item-hiden">
        <div class="img-con">
          <picture>
            <source
              srcset="
                ./img/webp/fenix-6pro-desktop-1x.png 1x,
                ./img/webp/fenix-6pro-desktop-2x.png 2x
              "
              media="(min-width: 1200px)"
            />
            <source
              srcset="
                ./img/webp/fenix-6pro-tablet-1x.png 1x,
                ./img/webp/fenix-6pro-tablet-2x.png 2x
              "
              media="(min-width: 768px)"
            />
            <img
              src="./img/webp/fenix-6pro-desktop-1x.png"
              alt="Garmin Fenix 6 Pro Solar"
              width="292"
              height="292"
              class="image"
            />
          </picture>
        </div>
        <div class="catalog-content-text">
          <h3 class="content-text-ellipsis">Garmin Fenix 6 Pro Solar</h3>
          <p class="content-text-price">€400</p>
        </div>
      </li>
      <li class="catalog-item catalog-item-hiden">
        <div class="img-con">
          <picture>
            <source
              srcset="
                ./img/webp/s42-date-steel-desktop-1x.png 1x,
                ./img/webp/s42-date-steel-desktop-2x.png 2x
              "
              media="(min-width: 1200px)"
            />
            <source
              srcset="
                ./img/webp/s42-date-steel-tablet-1x.png 1x,
                ./img/webp/s42-date-steel-tablet-2x.png 2x
              "
              media="(min-width: 768px)"
            />
            <img
              src="./img/webp/s42-date-steel-desktop-1x.png"
              alt="Tube Watch S42 Date Steel With Black Case"
              width="292"
              height="292"
              class="image"
            />
          </picture>
        </div>
        <div class="catalog-content-text">
          <h3 class="content-text-ellipsis">
            Tube Watch S42 Date Steel With Black Case
          </h3>
          <p class="content-text-price">€395</p>
        </div>
      </li>
    </ul>
    <button type="button" class="catalog-button">Show more</button>
  </div>
</section>
