<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
     <body>
    <section class="contactus">
      <div class="contactus-container"></div>
      <h2 class="contaktus-title">Contact us</h2>
      <div class="contactus-form">
        <p class="contactus-text">
          Please use the form below to contact us. Enter your name, email,
          phone, and message and we'll get back to you shortly.
        </p>
        <div class="contactus-user-form">
          <form class="form" name="contact" autocomplete="off" novalidate>
            <label for="name"></label>
            <input type="text" name="user_name" placeholder="Name" required />
            <label for="email"></label>
            <input
              type="email"
              name="user_email"
              placeholder="Email"
              required
            />
            <label for="tel"></label>
            <input type="tel" name="user_tel" placeholder="+380" required />
            <label for="comment"></label>
            <textarea name="comment" placeholder="Comment" rows="4"></textarea>
          </form>
        </div>
        <button type="submit" class="button-click">Send</button>
      </div>
      <div class="contactus-container-img">
       <picture>
                  <source
                    media="(min-width: 1158px)"
                    srcset="
                       1x,
                       2x
                    "
                  />
                  <source
                    media="(min-width: 768px)"
                    srcset="
                         1x,
                       2x
                    "
                  />
                  <source
                    media="(max-width: 767px)"
                    srcset="
                        1x,
                       2x
                    "
                  />
                  <img
                    src="./images/Online_Courses6.jpg"
                    alt="photo_clock"
                  />
                </picture>
      </div>
    </section>
  </head>
 </body>
</html>
