<footer class="footer">
    <div class="container">
      <div class="footer-cont">
      <div class="footer-logo-network">
     <a class="footer-logo">watchcharm</a>
     <ul clas="footer-social">
        <li class="footer-items">
        <button class="footer-btn">
          <svg class="footer-svg" width="20" height="20">
            <use href="../img/sprite.svg#icon-facebook"></use>
          </svg>
        </button>
        </li>
        <li class="footer-items">
        <button class="footer-btn">
          <svg class="footer-svg" width="20" height="20">
            <use href="../img/sprite.svg#icon-instagram"></use>
          </svg>
        </button>
        </li>
        <li class="footer-items">
        <button class="footer-btn">
          <svg class="footer-svg" width="20" height="20">
            <use href="../img/sprite.svg#icon-Youtube"></use>
          </svg>
        </button>
        </li>
        </ul>
     </div>
     <h2 class="footer-title">Have the time of your life with our watches: 
      where high-class craftsmanship meets impeccable design</h2>
      <button class="btn-number">+380 (68) 443-94-26</button>
      </div>
    </div>
  </footer>