
<div class="container header-container">
    <nav class="nav-header">
      <a class="logo-header" hrerf="./index.html">watchcharm</a>
      <ul class="nav-ul">
        <li class="nav-li current"><a class="nav-link" href="./index.html">Home</a></li>

        <li class="nav-li"><a class="nav-link" href="">About Us</a></li>
        <li class="nav-li"><a class="nav-link" href="">Catalog</a></li>
        <li class="nav-li"><a class="nav-link" href="">Sale</a></li>
        <li class="nav-li"><a class="nav-link" href="">Reviews</a></li>
        <li class="nav-li"><a class="nav-link" href="">Contact Us</a></li>
      </ul>
    </nav>
      <ul class="soclink-header-ul">
        <li class="soclink-header-li"> <a
            href="https://www.facebook.com/goITclub/"
            target="_blank"

         >
          <svg class="ss-links-svg">
            <use href="./img/sprite.svg#icon-facebook" ></use>


         >
          <svg class="ss-links-svg">
            <use href="./img/sprite.svg#icon-facebook" width="36" height="36"></use>

          </svg>
        </li>
          <li class="soclink-header-li"> <a
            href="https://www.instagram.com/goitclub/"
            target="_blank"

          >
          <svg class="ss-links-svg">
            <use href="./img/sprite.svg#icon-instagram" ></use>


          >
          <svg class="ss-links-svg">
            <use href="./img/sprite.svg#icon-instagram" width="36" height="36"></use>

          </svg></li>
          <li class="soclink-header-li"> <a
            href="https://www.youtube.com/c/GoIT"
            target="_blank"

          >
          <svg class="ss-links-svg">
            <use href="./img/sprite.svg#icon-youtube" ></use>
          </svg>
          </li>
      </ul>
  </div>


          >
          <svg class="ss-links-svg">
            <use href="./img/sprite.svg#icon-youtube" width="36" height="36"></use>
          </svg>
          </li>

      </ul>

  </div>

  <!-- menu -->

   <div class="mobile-menu-overlay">
      <div class="container modal-mobile">
        <button class="btn-close-mob" type="button">
          <svg class="close-mobile" width="34" height="34">
            <use href="./images/icons-menu.svg#icon-btn-close-menu"></use>
          </svg>
        </button>
        <nav class="nav-mobile">
          <ul class="navigation-mobile">
            <li>
              <a class="link-main-page current" href="./index.html">Home</a>
            </li>
            <li>
              <a class="link-main-page" href="./aboutus.html#aboutus">About Us</a>
            </li>
            <li>
              <a class="link-main-page" href="./catalog.html#catalog">Catalog</a>
            </li>
            <li>
              <a class="link-main-page" href="./sale.html#sale">Sale</a>
            </li>
            <li>
              <a class="link-main-page" href="./reviews.html#reviews">Reviews</a>
            </li>
            <li>
              <a class="link-main-page" href="./contactus.html#contactus">Contact Us</a>
            </li>
          </ul>
        </nav>
        <ul class="icon-social-mobile">
          <li class="link-item-social">
            <a
              class="link-social-menu"
              href="https://www.facebook.com/goITclub/"
              target="_blank"
              ><svg class="icons-social-menu" width="" height="">
                <use
                  href="./images/icons-menu.svg#icon-facebook-menu"
                ></use></svg
            ></a>
          </li>
          <li class="link-item-social">
            <a
              class="link-social-menu"
              href="https://www.instagram.com/goitclub/"
              target="_blank"
              ><svg class="icons-social-menu" width="" height="">
                <use
                  href="./images/icons-menu.svg#icon-instagram-menu"
                ></use></svg
            ></a>
          </li>
          <li class="link-item-social">
            <a
              class="link-social-menu"
              href="https://www.youtube.com/c/GoIT"
              target="_blank"
              ><svg class="icons-social-menu" width="" height="">
                <use
                  href="./images/icons-menu.svg#icon-youtube-menu"
                ></use></svg
            ></a>
          </li>
        </ul>
      </div>
    </div>

