<section class="section hero-section">
  <div class="container hero-container">
    <div class="hero-text-wrap">
      <h1 class="hero-title">
        Welcome to our <a class="hero-title-link" href="#">collection</a> of
        premium watches
      </h1>
      <p class="hero-text">
        Our watches are not just timepieces, but also an expression of your
        personality and lifestyle. From classic designs to modern ones, we have
        a watch to suit every taste and occasion.
      </p>
    </div>

    <div class="hero-icons-container">
      <ul class="hero-icons-list">
        <li class="hero-icon-list-item">
          <img
            class="hero-icon-list-item-img"
            src="./img/hero/icons/hero-icon1.png"
            alt="icon1"
            width="60"
          />
        </li>
        <li class="hero-icon-list-item">
          <img
            class="hero-icon-list-item-img"
            src="./img/hero/icons/hero-icon2.png"
            alt="icon2"
            width="60"
          />
        </li>
        <li class="hero-icon-list-item">
          <img
            class="hero-icon-list-item-img"
            src="./img/hero/icons/hero-icon3.png"
            alt="icon3"
            width="60"
          />
        </li>
      </ul>

      <a class="scroll-link" href="#footerid">Scroll down</a>
    </div>

    <div class="thumb">
      <picture>
        <source
          srcset="
            ./img/hero/hero-bg/desktop/desktop1x.jpg 1x,
            ./img/hero/hero-bg/desktop/desktop2x.jpg 2x
          "
          media="(min-width: 1280px)"
        />
        <source
          srcset="
            ./img/hero/hero-bg/tab/tablet1x.jpg 1x,
            ./img/hero/hero-bg/tab/tablet2x.jpg 2x
          "
          media="(min-width: 768px)"
        />
        <source
          srcset="
            ./img/hero/hero-bg/mob/mob1x.jpg 1x,
            ./img/hero/hero-bg/mob/mob2x.jpg 2x
          "
          media="(max-width: 767px)"
        />
        <img
          class="hero-img"
          src="../img/hero/hero-bg/mob/mob1x.jpg"
          alt="Hero watch"
          width="1150"
          height="500"
        />
      </picture>
    </div>
  </div>
</section>
