<div class="mobile-menu-overlay">
      <div class="container modal-mobile">
        <button class="btn-close-mob" type="button">
          <svg class="close-mobile" width="34" height="34">
            <use href="../img/icons-menu.svg#icon-btn-close-menu"></use>
          </svg>
        </button>
        <nav class="nav-mobile">
          <ul class="navigation-mobile">
            <li>
              <a class="link-main-page current" href="./index.html">Home</a>
            </li>
            <li>
              <a class="link-main-page" href="./index.html#aboutus"
                >About Us</a
              >
            </li>
            <li>
              <a class="link-main-page" href="./index.html#catalog"
                >Catalog</a
              >
            </li>
            <li>
              <a class="link-main-page" href="./index.html#sale">Sale</a>
            </li>
            <li>
              <a class="link-main-page" href="../index.html#reviews"
                >Reviews</a
              >
            </li>
            <li>
              <a class="link-main-page" href="./index.html#contactus"
                >Contact Us</a
              >
            </li>
          </ul>
        </nav>
        <ul class="icon-social-mobile">
          <li class="link-item-social">
            <a
              class="link-social-menu"
              href="https://www.facebook.com/goITclub/"
              target="_blank"
              ><svg class="icons-social-menu" width="" height="">
                <use
                  href="../img/icons-menu.svg#icon-facebook-menu"
                ></use></svg
            ></a>
          </li>
          <li class="link-item-social">
            <a
              class="link-social-menu"
              href="https://www.instagram.com/goitclub/"
              target="_blank"
              ><svg class="icons-social-menu" width="" height="">
                <use
                  href="../img/icons-menu.svg#icon-instagram-menu"
                ></use></svg
            ></a>
          </li>
          <li class="link-item-social">
            <a
              class="link-social-menu"
              href="https://www.youtube.com/c/GoIT"
              target="_blank"
              ><svg class="icons-social-menu" width="" height="">
                <use
                  href="../img/icons-menu.svg#icon-youtube-menu"
                ></use></svg
            ></a>
          </li>
        </ul>
      </div>
    </div>



