/*.vite-promo {
  padding: 50px 0;
}
.vite-promo-thumb {
  position: relative;
  max-width: 320px;
  margin: 0 auto;
}
.vite-promo-thumb::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;

  display: block;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-image: linear-gradient(-45deg, #bd34fe 50%, #47caff 50%);
  filter: blur(4.5rem);
}
.main-title {
  text-align: center;
}
.main-title-gradient {
  display: block;
  font-size: 2em;
  background-image: linear-gradient(120deg, #bd34fe 30%, #41d1ff);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}
@media only screen and (min-width: 768px) {
  .main-title-gradient {
    font-size: 3em;
  }
}
.main-title-link {
  position: relative;
  letter-spacing: 0.04em;
}
.main-title-link::before {
  content: '';
  position: absolute;
  bottom: 4%;
  left: 50%;
  transform: translateX(-50%) skewX(-12deg) rotate(-2deg);
  z-index: -1;
  width: 108%;
  height: 24%;
  background-color: #41d1ff;
  transition: 200ms ease;
}
.main-title-link:hover::before,
.main-title-link:focus::before {
  background-color: #ff6b0a;
}

.vite-promo .title,
.vite-promo .text {
  margin-bottom: 1.5rem;

  font-size: 3.5rem;
  font-weight: 700;
  line-height: 1.14;

  color: #213547;
}

.vite-promo .tagline {
  font-size: 1.5rem;
  line-height: 1.5;
  color: rgba(60, 60, 60, 0.7);
}

.vite-promo .actions {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.vite-promo .link {
  display: inline-block;
  padding: 0.5rem 1.25rem;

  font-weight: 500;
  text-align: center;
  white-space: nowrap;
  color: rgba(255, 255, 255, 0.87);

  background-color: #646cff;
  border: 1px solid transparent;
  border-radius: 1.25rem;
  transition: color 0.25s, border-color 0.25s, background-color 0.25s;
}
*/

body {
  font-family: sans-serif;
  color: rgba(12, 12, 12, 0.7);
  background-color: #fbfbfb;
  font-weight: 500;
  font-size: 14px;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;

}

h1,
h2,
h3,
p {
  margin: 0;
}





/* Common */
.container {
  max-width: 375px;
  padding: 0 16px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
    padding: 0 65px;
  }
}



/*ABOUT US*/
.about-container {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  padding: 0px 20px;
  flex-wrap: wrap;

}

.about-div {
  background: #f3f3f3;
  border-radius: 30px;
  padding: 40px 20px;
}

.about-text-div {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 40px;

}

.about-header {
  font-weight: 600;
  font-size: 32px;
  line-height: 1;
  letter-spacing: -0.02em;
  color: #0c0c0c;
  margin-bottom: 28px;
}

.about-text {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.02em;
  color: rgba(12, 12, 12, 0.7);
}

.about-button {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.28571;
  text-align: center;
  color: #fbfbfb;
  border-radius: 16px;
  width: 160px;
  height: 48px;
  background: #3350e9;
  border: none;
}
.about-button:hover,
.about-button:focus {
  background: #1f3cd4;
}

.about-img {

  background-color: #212121;
  border-radius: 30px;
  object-fit: cover;
  height: 446px;
}

@media screen and (min-width: 768px) {
  .about-container {
    gap: 40px;
    padding: 0px 32px;
  }

  .about-div {
    border-radius: 50px;
    padding: 80px 60px;
  }

  .about-text-div {
    margin-bottom: 60px;
  }

  .about-header {
    margin-bottom: 40px;
    font-size: 48px;
    line-height: 0.91667;
  }

  .about-text {
    font-size: 16px;
    line-height: 1.25;

  }

  .about-img {
    width: 704px;
    height: 512px;
    border-radius: 50px;

  }
}


@media screen and (min-width: 1280px) {
  .about-container {
    flex-direction: row;
    padding: 0px 65px;
  }

  .about-div {
    width: 580px;
    height: 532px;

  }

  .about-img {

    width: 530px;
    height: 532px;
  }
}