@import url('fonts.css');
@import url('reset.css');
@import url('container.css');


.tittle-choose {
  font-family: "Gilroy", sans-serif;
  font-weight: 600;
  font-size: 32px;
  line-height: 1;
  letter-spacing: -0.02em;
  padding: 0 28px;
  max-width: 279px;
  margin-bottom: 28px;
  color: #fbfbfb;
}
.span-choose {
  color:rgba(251, 251, 251, 0.5);
}
.button-choose {
  font-family: "Gilroy", sans-serif;
  font-weight: 500;
  line-height: 1.3;
  text-align: center;
  margin: 0 28px;
  padding-top: 15px ;
  padding-bottom: 15px;
  padding-left: 44px;
  padding-right: 43px;
  max-width: 160px;
  height: 48px;
  border: 1px solid rgba(251, 251, 251, 0.15);
  border-radius: 16px;
  background-color: transparent;
  color: #fbfbfb;
}

.section-choose {
  background-image: url(../img/WatchHubIMG/hand1x_mobile.jpg);
  border-radius: 30px;
  max-width: 767px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 60px 0;
}
@media screen and (max-width: 767px) and (min-resolution: 192dpi),
screen and (max-width: 767px) and (min-resolution: 2dppx) {
.section-choose{
  background-image: url(../img/WatchHubIMG/hand2x_mobile.jpg);
  background-size: cover;
}
@media screen and (min-width: 768px) {
  .section-choose {
    background-image: url(../img/WatchHubIMG/hand1x_tablet.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-width: 768px;
    max-width: 1157px;
    padding: 80px 0;
  }
  .tittle-choose {
    margin-bottom: 0 32px;
    padding: 0 64px;
    min-width: 576px;
    height: 186px;
    font-size: 48px;
  }
  .button-choose{
    margin: 0 64px;
  }
}
 }
 @media screen and (min-width: 767px) and (min-resolution: 192dpi),
        screen and (min-width: 767px) and (min-resolution: 2dppx) {
  .section-choose {
   background-image: url(../img/WatchHubIMG/hand2x_tablet.jpg);

   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
   min-width: 768px;
   max-width: 1157px;
   padding: 80px 0;
}
.tittle-choose {
  margin-bottom: 0 32px;
  padding: 0 64px;
  min-width: 576px;
  height: 186px;
  font-size: 48px;
}
.button-choose{
  margin: 0 64px;
}
  }
  @media screen and (min-width: 1158px) {
    .section-choose {
      background-image: url(../img/WatchHubIMG/hand1x_desktop.jpg);
      min-width: 1158px;
      padding: 82px 0;
    }
    .tittle-choose {
      padding: 0 80px;
      min-width: 690px;
      height: 132px;
      font-size: 48px;

    }
  }
  @media screen and (min-width: 1158px) and (min-resolution: 192dpi),
        screen and (min-width: 1158px) and (min-resolution: 2dppx) {
          .section-choose {
            background-image: url(../img/WatchHubIMG/hand2x_desktop.jpg);
            display: flex;
            min-width: 1150px;
            height: 132px;
          }

          .tittle-choose {
            padding: 0;
            min-width: 690px;
            height: 132px;
            font-size: 48px
        }
        .container {
          margin: 0 80px;
        }
        .button-choose {
          margin: 0 140px;
        }
         }





