@import url('fonts.css');
@import url('reset.css');
@import url('container.css');

.section-choose {
  background-color: #0c0c0c;
  background-image: url(../img/WatchHubIMG/hand1x_mobile.png);
  border-radius: 30px;
  max-width: 335px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 60px 0;
  margin: 0 auto;
}

.tittle-choose {
  font-family: "Gilroy", sans-serif;
  font-weight: 600;
  font-size: 32px;
  line-height: 1;
  letter-spacing: -0.02em;
  padding: 0 28px;
  min-width: 279px;
  margin-bottom: 28px;
  color: #fbfbfb;
}

.span-choose {
  color: rgba(251, 251, 251, 0.5);
}

.button-choose {
  font-family: "Gilroy", sans-serif;
  font-weight: 500;
  line-height: 1.3;
  text-align: center;
  margin: 0 28px;
  padding: 15px 44px;
  max-width: 160px;
  border: 1px solid rgba(251, 251, 251, 0.15);
  border-radius: 16px;
  background-color: transparent;
  color: #fbfbfb;
  white-space: nowrap;
}

/* Адаптація для планшетів */
@media screen and (min-width: 768px) {
  .section-choose {
    background-image: url(../img/WatchHubIMG/hand1x_tablet.png);
    max-width: 704px;
    padding: 80px 0;
  }

  .tittle-choose {
    font-size: 48px;
    margin-bottom: 32px;
    padding: 0 64px;
    max-width: 576px;
    line-height: 1.2;
  }

  .button-choose {
    margin-top: 32px;
    padding: 15px 44px;
    margin-left: 64px;
  }
}

/* Висока роздільна здатність для планшетів */
@media screen and (min-width: 768px) and (min-resolution: 192dpi),
       screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .section-choose {
    background-image: url(../img/WatchHubIMG/hand2x_tablet.png);
  }
}

/* Десктопна версія */
@media screen and (min-width: 1280px) {
  .section-choose {
    background-image: url(../img/WatchHubIMG/hand1x_desktop.png);
    max-width: 1150px;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .section-choose .container {
    height: 298px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .tittle-choose {
    font-size: 48px;
    min-width: 690px;
    padding: 0;
    margin: 0;
  }

  .container-choose {
    display: flex;
    gap: 140px;
    max-height: 132px;
    margin-bottom: 45px;

  }

  .button-choose {
    margin: 0;
    padding: 15px 5px;
    width: 160px;
    height: 48px;
    text-align: center; 
  }
}

/* Висока роздільна здатність для десктопів */
@media screen and (min-width: 1280px) and (min-resolution: 192dpi),
       screen and (min-width: 1280px) and (min-resolution: 2dppx) {
  .section-choose {
    background-image: url(../img/WatchHubIMG/hand2x_desktop.png);
  }
}








